@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body {
    background: repeating-linear-gradient(
            to right,
            #f6ba52,
            #f6ba52 10vw,
            #ffd180 10vw,
            #ffd180 20vw
    );
    font-family: 'Gloria Hallelujah', Arial;
    margin: 2rem;
    font-size: 16px;
    color: black;
    box-sizing: border-box;
}

button {
    position: relative;
    top: 2px;
    z-index: 100;
    background: rgb(255, 255, 255);
    color: red;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    width: 25vw;
    max-width: 180px;
    padding: 0.3rem;
    margin: 1rem 0;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
    border: solid black 3px;
    border-bottom: none;
    font-family: 'Gloria Hallelujah', Arial;
}

button:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Luckiest Guy', Arial;
    color: red;
    -webkit-text-fill-color: red;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 4rem;
    margin-bottom: 5px;
}

h2 {
    font-family: 'Luckiest Guy', Arial;
    color: rgb(19, 124, 98);
    -webkit-text-fill-color: rgb(19, 124, 98);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    width: 90vw;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin: 1rem 0 0 0;
}

.kbLogo {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

.content {
    box-sizing: border-box;
    position: relative;
    bottom: 1.1rem;
    display: flex;
    justify-content: center;
    width: 90vw;
    background-color: white;
    border: solid black 3px;
    margin-top: 0;
    padding: 0 1.5rem;
    border-radius: 1%;
    text-align: center;
}

.itemCard {
    padding: 1rem;
    margin: 0 0 1rem 0;
}

.itemImage {
    width: 60vw;
    min-width: 300px;
    margin-bottom: 1rem;
    border: solid black 3px;
    border-radius: 10%;
}

.homeDiv {
    width: 100%;
    margin: 1rem 1rem 2rem 1rem;
}

.seal {
        width: 200px;
        height: 200px;
        margin: 1rem;
}

.guarantee {
    text-align: center;
}

.joint {
    width: 200px;
    height: 200px;
    border: solid black 3px;
    border-radius: 50%;
    margin: 2rem;
}

.welcomeDiv {
    text-align: center;
}

.welcome {
    clear: left;
    font-size: 1rem;
}

@media screen and (min-width: 500px) {
    .kbLogo {
        width: 60vh;
    }

    button{
        top: 2px;
        font-size: 1.5rem;
    }

    button:hover{
        font-size: 1.6rem;
        padding: 0.2rem;
    }

    .seal {
        float: left;
        shape-outside: circle(50%);
        width: 200px;
        height: 200px;
        margin: 1rem;
}

.joint {
    float: right;
    shape-outside: circle(50%);
    width: 280px;
    height: 280px;
    
    margin: 2rem;
}

.welcome {
    font-size: 2rem;
    text-align: right;
}


    .guarantee {
        clear: right;
        text-align: left;
    }

}

@media screen and (min-width: 1000px) {
    .content {
        width: 70vw;
    }

    .menuContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .nav {
        width: 70vw;
    }

    .itemImage {
        width: 25vw;
    }

    .seal {
        width: 280px;
        height: 280px;
        float: left;
        shape-outside: circle(50%);
    }

  

    .guarantee {
        font-size: 2.2rem;
        text-align: left;
    }
}